version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:2025.01
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build Docker image
          command: |
            docker buildx create --use
            docker buildx build --platform linux/amd64 -t $DOCKERHUB_USERNAME/frontend:circleci . --push --sbom=1 --provenance=1
        