name: docker-build

on: 
  push:
    branches: ["main"]
    tags: ["v*.*.*"]
  pull_request_target:
    branches: ["main"]

env:
  IMAGE_NAME: christiandupuis299/frontend
  SHA: ${{ github.event.pull_request.head.sha || github.event.after }}
  DOCKERFILE_PATH: Dockerfile

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ env.SHA }}

      - name: Log into registry
        uses: docker/login-action@v3
        with:
          username: christiandupuis299
          password: ${{ secrets.HUB_PAT }}
          
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          labels: |
            org.opencontainers.image.revision=${{ env.SHA }}
            com.docker.image.source.entrypoint=${{ env.DOCKERFILE_PATH }}

      - name: Build and push Docker image on push
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: "linux/amd64,linux/arm64"
          provenance: true
          sbom: true
          #attests: type=sbom,generator=docker/scout-sbom-indexer:1

      - name: Secret Scanning with ggshield
        run: |
          docker run -v .:/report -v /var/run/docker.sock:/var/run/docker.sock -e GITGUARDIAN_API_KEY=${{ secrets.GITGUARDIAN_API_KEY }} christiandupuis299/ggshield ggshield secret scan docker ${{ steps.meta.outputs.tags }} --json -o /report/secret-scanning.json --exit-zero

      - name: Attach Secret Scanning report
        run: |
          # curl -sSfL https://raw.githubusercontent.com/docker/scout-cli/main/install.sh | sh -s --
          # docker scout attestation add ${{ steps.meta.outputs.tags }} --file secret-scanning.json --predicate-type https://aquasecurity.com/trivy/v2
          docker run -v .:/report -e DOCKER_SCOUT_HUB_USER=christiandupuis299 -e DOCKER_SCOUT_HUB_PASSWORD=${{ secrets.HUB_PAT }} -e DOCKER_SCOUT_REGISTRY_USER=christiandupuis299 -e DOCKER_SCOUT_REGISTRY_PASSWORD=${{ secrets.HUB_PAT }} docker/scout-cli:149a075 attest add ${{ steps.meta.outputs.tags }} --file /report/secret-scanning.json --predicate-type https://gitguardian.com/ggshield/v1 --referrer --org christiandupuis299

          
