name: Update clamav db

on:
  workflow_dispatch:

jobs:
  update-clamav-db:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Download clamav db
        run: |
          cat ~/.docker/config.json
