name: Update clamav db

on:
  workflow_dispatch:

jobs:
  update-clamav-db:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Download clamav db
        run: |
          jq '.auths["dhi.io"] = .auths["https://index.docker.io/v1/"]' ~/.docker/config.json > ~/.docker/config.json.tmp && mv ~/.docker/config.json.tmp ~/.docker/config.json

          docker pull dhi.io/bash:5-dev
