name: Update clamav db

on:
  push:
    branches: 
       - main
  workflow_dispatch:

jobs:
  update-clamav-db:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Restore databases cache
        uses: actions/cache/restore@v4
        with:
          path: |
            ./databases
          key: clamav-db
      - name: Download clamav db
        run: |
          docker run --rm -v ./databases:/var/lib/clamav clamav/clamav:stable freshclam
      - name: Save databases cache
        uses: actions/cache/save@v4
        with:
          path: |
            ./databases
          key: clamav-db
